.users{
    width: 100vw;
    display: flex;
    background-color: #677030;
    color: black;
    overflow-x: hidden;
}

.usersContainer{
    flex: 6;
}

.cellAction{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.viewButton{
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0,0,139,0.596);
    cursor: pointer;
}

.deleteButton{
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    border: 1px dotted rgba(220,20,60,0.6);
    cursor: pointer;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
  }

.leaflet-marker-icon.marker-cluster span {
  display: inline-block;
  width: 40px; /* Adjust the width of the circle */
  height: 40px; /* Adjust the height of the circle */
  background-color: blue; /* Set the background color of the circle */
  border-radius: 50%; /* Make the circle round */
  color: white; /* Set the color of the text (cluster count) */
  text-align: center; /* Center the text horizontally */
  line-height: 40px; /* Center the text vertically */
  font-size: 18px; /* Adjust the font size of the cluster count */
}

.leaflet-marker-icon.marker-cluster {
  border: 2px blue;
  padding: 5px;
}

.leaflet-routing-container {
  display: none;
}
