.users {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  background-color: #5f7567;
  color: black;
}

.usersContainer {
  width: calc(100% - var(--content-width));
}

.cellAction {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
